img{
    text-align: center;
}

body{
    background-color: #F5FFFA;
}  

p{
    font-family: 'Spinnaker', sans-serif;
    font-size: 110%;
}

li{
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}

.claro{
    background-color: #F5FFFA;
    transition: 1s;
}

.escuro{
    background-color: #808080;
    transition: 1s;
}

/* "meu curriculo" */
h1{
    font-size: 400%;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid;
}

/*imagem de claro escuro*/
#acender{
    width: 2%;
    height: 2%;
    cursor: pointer;
}

#escuro{
    margin-left: 10px;
    width: 2%;
    height: 2%;
    cursor: pointer;
}


.foto_sem_mouse{
    width: 300px;
    height: 330px;
    transition: 0.5s;
}

.foto_com_mouse{
    width: 350px;
    height: 380px;
    transition: 0.5s;
}
